<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1097474489410-2p1hmifla6tds020lsu3u20soigodb41.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwCcYHqkx8XnHB5SDaQgGkiPD2FNNQqTA</string>
	<key>GCM_SENDER_ID</key>
	<string>1097474489410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.more2Drive.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>riseup-d61e4</string>
	<key>STORAGE_BUCKET</key>
	<string>riseup-d61e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097474489410:ios:5f6d15ab5ecab3dd3f41db</string>
</dict>
</plist>